@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/*  fonts */
[class*=__container] {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

body {
  font-family: "Oswald", sans-serif;
}

.top-block:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .top-block .top-blocks__item {
    border: 2px solid #C4C4C4;
  }
  .top-block .top-blocks__img img {
    padding: 25px;
    max-width: 140px;
  }
}
.top-block__container {
  padding-top: 30px;
}
.top-block__wrapper {
  border: 2px solid #C4C4C4;
  padding: 28px 11px;
}
@media (max-width: 425px) {
  .top-block .top-block__wrapper {
    border: none;
  }
  .top-block .top-block__title {
    padding: 0;
  }
  .top-block fieldset {
    border-color: none;
  }
}
.top-block__title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.8333333333;
  text-transform: uppercase;
  color: #000000;
  padding: 0 90px;
}

.top-blocks__items {
  display: grid;
  grid-template-columns: repeat(7, minmax(140px, 1fr));
  gap: 45px;
}
.top-blocks__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1400px) {
  .top-blocks__items {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}
.info__item:nth-child(3n+1) {
  justify-content: flex-end;
  padding: 82px 65px 82px 0px;
}
.info__item:nth-child(3n+3) {
  justify-content: flex-start;
  padding: 115px 0px 115px 94px;
}
.info__item:nth-child(3) .info__content {
  max-width: 359px;
}
.info__item:nth-child(2) .info__content {
  max-width: 500px;
  padding: 390px 0px 103px 86px;
}
@media (max-width: 991.98px) {
  .info__item:nth-child(2) .info__content {
    padding: 200px 0px 103px 86px;
  }
}
.info__item:nth-child(2) .info__title {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 110px;
  /* or 115% */
  text-transform: uppercase;
  color: #131313;
}
.info__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 1300px) {
  .info__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.info__item {
  display: flex;
  overflow: hidden;
}
.info .info__item:nth-child(2) {
  grid-row: 2 span;
}
.info .info__item:nth-child(3n+1) {
  position: relative;
  padding-bottom: 46.969697%; /* 434/924 */
}
.info .info__item:nth-child(3n+2) {
  position: relative;
  padding-bottom: 97.081081%; /* 898/925 */
}
.info .info__item:nth-child(3n+3) {
  position: relative;
  padding-bottom: 46.969697%; /* 230/570 */
}
.info__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  color: #000000;
  max-width: 319px;
}
.info__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  /* or 129% */
  line-height: 1.2916666667;
  text-transform: uppercase;
  color: #000000;
}
.info__text {
  font-size: 22px;
  line-height: 37px;
  /* or 168% */
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 50px;
}
.info__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  padding: 17px 21px 17px 36px;
  max-width: 175px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info__btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
}
.info__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  transition: transform 0.5s ease 0s;
}
@media (any-hover: hover) {
  .info__img:hover img {
    transform: scale(1.1);
  }
}

.news {
  margin-bottom: 30px;
  padding: 30px 0 15px;
}
.news__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.news__item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
@media (max-width: 991.98px) {
  .news .news {
    padding: 15px 0 10px;
  }
  .news .news__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
  .news .news__item:nth-child(2) {
    grid-row: auto;
    grid-column: auto;
  }
}
.news .item-news {
  position: relative;
  display: flex;
  align-items: center;
}
.news .item-news:nth-child(3n+1) {
  justify-content: flex-end;
  padding: 82px 65px 82px 0px;
}
.news .item-news:nth-child(3n+2) {
  justify-content: flex-start;
  align-items: flex-end;
  padding: 390px 0px 103px 86px;
}
.news .item-news:nth-child(3n+3) {
  justify-content: flex-start;
  padding: 115px 0px 115px 94px;
}
.news .item-news__content {
  position: relative;
  z-index: 2;
  max-width: 369px;
  color: #000000;
}
.news .item-news__content > *:last-child {
  margin-bottom: 0;
}
.news .item-news__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.news .item-news:nth-child(1) .news .item-news__title {
  max-width: 230px;
}
.news .item-news:nth-child(1) .news .item-news__title {
  max-width: 230px;
}
.news:nth-child(2) .news__title {
  font-size: 96px;
  line-height: 1.15;
  color: #131313;
}
.news__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.68;
  margin-bottom: 50px;
}
.news__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%; /* 27px/18px */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid #000000;
  padding: 12px 0px;
  min-width: 176px;
  text-align: center;
  transition: all 0.3s;
}
.news .item-news__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.news .item-news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
@media (max-width: 1450px) {
  .news .item-news__title {
    font-size: 38px;
    line-height: 1.19;
  }
  .news .item-news:nth-child(3n+1) {
    padding: 82px 20px 82px 0px;
  }
  .news .item-news:nth-child(2) .item-news__title {
    font-size: 76px;
    line-height: 1.12;
  }
  .news .item-news:nth-child(3n+2) {
    padding: 390px 0px 103px 30px;
  }
  .news .item-news:nth-child(3n+3) {
    padding: 115px 0px 115px 30px;
  }
}
@media (max-width: 991.98px) {
  .news .item-news__title {
    font-size: 38px;
  }
  .news .item-news:nth-child(3n+1) {
    padding: 40px 20px 40px 0px;
  }
  .news .item-news:nth-child(2) .item-news__title {
    font-size: 76px;
  }
  .news .item-news:nth-child(3n+2) {
    padding: 390px 0px 40px 30px;
  }
  .news .item-news:nth-child(3n+3) {
    padding: 40px 0px 40px 30px;
  }
}
@media (max-width: 600px) {
  .news .item-news__content {
    max-width: 150px;
  }
  .news .item-news__title {
    font-size: 20px;
  }
  .news .item-news:nth-child(1) .item-news__title {
    max-width: 118px;
  }
  .news .item-news:nth-child(2) .item-news__title {
    font-size: 26px;
    max-width: 100px;
  }
  .news .item-news__text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .news .item-news__link {
    font-size: 12px;
    line-height: 1.5;
    padding: 6px 0px;
    min-width: 85px;
  }
  .news .item-news:nth-child(3n+1) {
    padding: 18px 10px 18px 0px;
  }
  .news .item-news:nth-child(3n+2) {
    padding: 127px 0px 30px 20px;
  }
  .news .item-news:nth-child(3n+3) {
    padding: 25px 0px 25px 20px;
  }
}
@media (any-hover: hover) {
  .news .item-news .item-news__link:hover {
    color: #fff;
    background-color: #000;
  }
}

.shop {
  margin-bottom: 176px;
}
.shop__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768.98px) {
  .shop__wrapper {
    flex-direction: column;
  }
}
.shop__left-side {
  flex: 0 1 20.979766%;
}
.shop__ride-side {
  flex: 0 1 79.020234%;
}
.shop__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 48px;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin-bottom: 63px;
}
@media (max-width: 1024px) {
  .shop__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .shop__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.shop__item {
  display: flex;
  flex-direction: column;
}
.shop__img {
  position: relative;
  padding-bottom: 130.813953%;
  margin-bottom: 14px;
  overflow: hidden;
}
.shop__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .shop__img:hover img {
    transform: scale(1.05);
  }
}
.shop__body {
  flex: 1 1 auto;
}
.shop__top {
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  /* Gray 4 */
  color: #BDBDBD;
  transition: color 0.3s ease 0s;
}
.shop__top:not(:last-child) {
  margin-bottom: 18px;
}
.shop__info {
  font-weight: 300;
  line-height: 1.5;
}
.shop__price {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #000000;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .shop__price:hover {
    color: #EB5757;
  }
}

.shop__button {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* Gray 1 */
  color: #828282;
}

.form-shop__title {
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 30px;
}
@media (max-width: 768.98px) {
  .form-shop__checkbox {
    margin-bottom: 20px;
  }
}
.form-shop__group {
  position: relative;
}
.form-shop__group:not(:last-child) {
  margin-bottom: 20px;
}
.form-shop__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-shop__label {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
  column-gap: 9px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #3f3f3f;
  cursor: pointer;
}
.form-shop__label::before {
  content: "";
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #828282;
}
.form-shop .form-shop__input:checked + .form-shop__label::before {
  background: url("../img/arrow.svg") center no-repeat #000;
  border-color: #000;
}
.form-shop .form-shop__input:checked + .form-shop__label {
  color: #000;
}

.shopping {
  margin-bottom: 77px;
}
.shopping__body {
  display: flex;
  align-items: center;
  position: relative;
  padding: 77px 0 77px 260px;
}
.shopping__content {
  z-index: 2;
  max-width: 640px;
}
.shopping__title {
  position: relative;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2857142857;
  text-transform: uppercase;
  color: #000000;
}
.shopping__title:not(:last-child) {
  margin-bottom: 17px;
}
.shopping__title::before {
  content: "";
  position: absolute;
  top: -19px;
  right: 0;
  width: 94%;
  height: 2px;
  background-color: #000;
}
.shopping__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: -19px;
  width: 2px;
  height: 125%;
  background-color: #000;
}
.shopping__text {
  font-size: 25px;
  /* or 148% */
  line-height: 1.48;
  letter-spacing: 0.01em;
  color: #000000;
}
.shopping__text:not(:last-child) {
  margin-bottom: 24px;
}
.shopping__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  padding: 14px 29px 15px 30px;
}
@media (any-hover: hover) {
  .shopping__btn:hover {
    background: #000;
    color: #fff;
  }
}
.shopping__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.shopping__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__popular {
  margin-bottom: 118px;
}

.popular__title:not(:last-child) {
  margin-bottom: 34px;
}
.popular__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 31px;
}
.popular__item {
  display: flex;
  flex-direction: column;
}
.popular__img {
  position: relative;
  padding-bottom: 130.813953%;
  overflow: hidden;
}
.popular__img:not(:last-child) {
  margin-bottom: 14px;
}
.popular__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popular__img:hover img {
    transform: scale(1.05);
  }
}
.popular__body {
  flex: 1 1 auto;
}
.popular__body:not(:last-child) {
  margin-bottom: 18px;
}
.popular__top {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  /* Gray 4 */
  color: #BDBDBD;
}
.popular__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}
.popular__pcice {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popular__pcice:hover {
    color: #EB5757;
    cursor: pointer;
  }
}

.title-popular {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.items-popular:not(:last-child) {
  margin-bottom: 80px;
}

.main__best {
  margin-bottom: 100px;
}

.best__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1798px;
}
.best__bg {
  flex: 0 1 59.954751%; /* 1060/1768 */
}
.best__info {
  flex: 0 1 41.045606%;
  padding-left: 90px;
}
.best__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2857142857;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.best__title:not(:last-child) {
  margin-bottom: 34px;
}
.best__title::before {
  content: "";
  position: absolute;
  top: -19px;
  right: 0;
  width: 94%;
  height: 2px;
  background-color: #000;
}
.best__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: -19px;
  width: 2px;
  height: 125%;
  background-color: #000;
}
.best__text {
  font-size: 25px;
  line-height: 148%;
  /* or  */
  letter-spacing: 0.01em;
  color: #000000;
}
.best__text:not(:last-child) {
  margin-bottom: 40px;
}
.best__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  padding: 14px 29px 15px 30px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .best__btn:hover {
    background: #000;
    color: #fff;
  }
}

.main__blog {
  background: #F8F9FB;
  min-height: 564px;
}

.blog {
  padding-top: 70px;
  margin-bottom: 100px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.blog__item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 24px 24px 0 24px;
}
.blog__body {
  flex: 1 1 auto;
}
.blog__label {
  font-weight: 600;
  font-size: 18px;
  line-height: 27/1 8;
  text-transform: uppercase;
  /* Gray 4 */
  color: #BDBDBD;
}
.blog__label:not(:last-child) {
  margin-bottom: 21px;
}
.blog__title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  color: #000000;
}
.blog__title:not(:last-child) {
  margin-bottom: 26px;
}
.blog__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  min-height: 225px;
  color: #000000;
}
.blog__date {
  font-weight: 300;
  font-size: 13px;
  /* or 285% */
  line-height: 2.8461538462;
  /* Gray 2 */
  color: #4F4F4F;
}