@import url("https://fonts.googleapis.com/css?family=Inter:600&display=swap");

@import url('reset.css');

[class*="__container"]{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper{
    overflow: clip;
    min-height: 100%;
}
body{
    font-family: 'Inter' , sans-serif;
    font-weight: 600;
    color: #212B36;
    font-size: 16px;
    background-color: #212B36;

}
.text{
    color: #fff;
}
/* .menu{
 display: inline-block ; 
}  */
.menu__item{
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    
}
.menu__item:hover:not(:nth-child(1)){
    color: #3056D3;    


}
.menu__item:not(:first-child){
    margin-right: 35px;
}
.active-menu__item{
    margin-right:50px;
    transition: all 0.3s ease 0s;
}
.header{
    position: fixed;
   padding:  29px 0; 
   background-color: #fff;
   left: 0;
   top: 0;
   width: 100%;
}
.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__lists  {
    display: flex;
}
.menu__social{
    display: flex;
}
.header__logo{
    display: inline-block;

}

.header__menu {
    margin-left: 44px;
}
.social-menu__item{
    margin-right: 20px;
}
.active-menu__item{
   
    width: 172px;
    height: 42px;
    padding-left: 11px;
    background: #F4F7FF;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    
}
.active-menu__item::after{
    content: '';
    background: url('../img/row.svg');
    display: inline-block;
    width: 10.8px;
height: 5.8px;
margin-left: 13px;
}
.menu__item {
    position: relative;

}
.menu__sub-menu{
    position: absolute;
    padding: 22px 57px  22px 24px;
    top: 190%;
    left: 0;
    background: #FFFFFF;

border: 0.5px solid #E7E7E7;
border-radius: 5px;
}
.sub-menu__item:not(:last-child){
    margin-bottom: 13px;
}
.sub-menu__item{
    white-space: nowrap;
}
.menu__sub-menu{
    
}
.sub-menu::before{
    content: "";
    position: absolute;
    bottom: 95%;
    left: 3px;
    width: 29px;
    height: 20px;


    background: url('../img/triangle.svg');


}
.sub-menu__item{
  position: relative;

}
.fashion::after{
    content: '';
    display: inline-block;
    background: url('../img/arrow-2.svg')  0 0 no-repeat;
    width: 17px;
    height: 10px;
    margin-left: 67px;
 

}
.active-menu__item:hover .menu__sub-menu{
    opacity: 1;
    visibility: visible;

}

.menu__sub-menu{
    opacity: 0;
	visibility: hidden;


    transition: all 0.3s ease 0s;


}
.sub-menu__item:hover{
    color: #3056D3; 
       
    opacity: 1;
	visibility: visible;

}

.fashion:hover .sub-content{
    visibility: visible;

}

.sub-content{
    display: flex;
    position: absolute;
    top: 0;
    left: 137%;


 visibility: hidden;
 opacity: 1;
    padding: 30px;
	width: 680px;    
    
    background: #FFFFFF;
    
    transition: all 0.3s ease 0s;
    border: 0.5px solid #E7E7E7;
    border-radius: 5px;
  
}

.sub-content__title{
    margin-bottom: 20px;
    color: #212B36
    
}
.sub-content__item:not(:last-child){
    margin-bottom: 12px;
  
}
.sub-content__item{
    color: #637381;
    line-height: 1.5; /* 24/16 */
    transition: all 0.3s ease 0s;
}
.sub-content__item:hover{
    color: #3056D3; 
}
.sub-content__list{
    margin-right: 80px;
}


.main__content{
    position: sticky;
margin-bottom: 1111px;
    background: rebeccapurple;
}
.block__text{
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding: 30px;

}